<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a [routerLink]="['/criptos/lista']" mat-list-item (click)="sidenav.toggle()"><mat-icon color="primary">rocket_launch</mat-icon><span>Lista de criptos</span></a>
            <a [routerLink]="['/criptos/buscar']" mat-list-item (click)="sidenav.toggle()"><mat-icon color="primary">search</mat-icon><span>Buscar</span></a>
            <a [routerLink]="['/criptos/crear']" mat-list-item (click)="sidenav.toggle()"><mat-icon color="primary">create</mat-icon><span>Añadir</span></a>
            <a [routerLink]="['/criptos/portfolios']" mat-list-item (click)="sidenav.toggle()"><mat-icon color="primary">label</mat-icon><span>Lista de Portfolios</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>